@charset "UTF-8";
/* CSS Document */

body {
	background-image: url(http://i.imgur.com/ZKt07p5.png%22%20);
	background-repeat: repeat-x;
	background-color: #52596b;
}
.logo {
	position: fixed;
	height: 44px;
	width: 147px;
	float: left;
	margin-top: 250px;
	margin-left: 150px;
}
#hr {
	float: left;
	margin-top: 300px;
	margin-left: 150px;
	width: 25px;
	height: 2px;
	color: #fa6e6e;
}
.text {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-style: normal;
	color: #FFF;
	float: left;
	margin-top: 325px;
	margin-left: 150px;
	text-align: left;
	position: fixed;
	line-height: 24px;
}
#stripes {
	background-image: url("http://i.imgur.com/laHNxq8.png");
	background-repeat: repeat-x;
}
